extends layout

block content

    content
        if username
            h4= username
        form(action="/hello", method="POST")
                input(type="text" name="username" placeholder="Input Nama")
                input(type="submit")